/* Emojiler için font ayarları */
@font-face {
    font-family: 'emojifont';
    src: url('https://cdn.jsdelivr.net/npm/emoji-datasource-apple@2.0.0/eot/AppleColorEmoji-2.0.0.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Başlık ayarları */
  h1 {
    font-size: 3rem;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #c0c0c0;
  }
  
  /* Emojiler için ayarlar */
  .emoji {
    font-family: 'emojifont';
    font-size: 2.5rem;
    margin-right: 0.5rem;
  }
  
  /* Projeler için ayarlar */
  h2 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  /* Proje başlıkları için emoji ayarları */
  .project-title::before {
    content: "\1F4D1 ";
  }
  
  /* Ödevler için ayarlar */
  .assignment-title::before {
    content: "\1F4D3 ";
  }
  
  /* Sayfa arkaplanı ayarları */
  body {
    background-color: #f2f2f2;
  }
  
  /* Sayfa genel ayarları */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  